<h1>До новых встречь!</h1>
<p>Данная страница выполняет действия метода goodbye класса SayController</p>
<div id="SendMeBack">Для возврата на предыдущую страницу нажмите <a href="/say/hello">сюда</a></div>
